/*** Global CSS classes ***/

.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.mt-2 {
    margin-top: 8px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mr-2 {
    margin-right: 8px;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.d-block {
    display: block;
}

.relative {
    position: relative;
}

.defaultCardStyle {
    position: absolute;
    height: 100%;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}